{% extends "layout.html.twig" %}
{%  block contenu %}
    {% if uneCommande %}
        {% set idCommande = uneCommande.getId() %}
    {% endif %}
    {% block recherche %}
        {% include 'rechercheCommande.html.twig' %}
    {% endblock %}
    {% if uneCommande %}
        <p><h2> Informations de la commande numéro {{ uneCommande.getId() }}</h2></p>
    <p>Client : {{ uneCommande.getIdClient() }} {{ unClient.getNomCLi() }} {{ unClient.getPrenomCLi() }}</p>
    <p>Date : {{  uneCommande.getDateCde() }}</p>
    <p>Numéro de la facture : {{ uneCommande.getNoFacture }}</p>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    <div class="text-center"> Fin de l'affichage </div>
{% endblock %}